*{
    margin: 0;
    padding: 0;
    position: static;
}






.menu-fixo  {
    width: 100%;
    height: 100px;
    position: fixed;
    background-color: rgb(243, 191, 78);

    display: flex;
    align-items: center;

    padding: 0 30px;
    box-sizing: border-box;
    border-bottom: 0.7px solid gray;
}

.menu-fixo h1, h3 {
    margin: 50px;
    padding: 50px 0;
    font-style:oblique;
    font-weight: normal;
}

.menu-fixo p{
    display: inline;
    padding: 50px;
    font-size: 20px;
}

.menu-fixo nav{
    
    display: flex;
    gap: 50px;
    margin: 0 auto;
}

.menu-fixo img{
    width: 70px;
    height: 70px;
    padding: 50px;
    object-fit: contain;
}
main{
    margin-top: 100px;
}

.Secção{
    background-color: antiquewhite;
    
}
.Secção div.box{
    display: flex;
    justify-content: end;
    width: 100%;
    height: 600px;
background-color: brown
;}
.Secção div.aba{
    text-align: right;
    border: 2px solid;
    border-radius: 20px;

   box-shadow: 5px 5px 0px #000000;
    margin: 20px 50px;
    padding: 50px;
    background-color: aqua;
    height: 320px;
}
.Secção div.aba p{
    padding: 50px;
    display: flex;
    justify-content: end
}