*{
    margin: 0;
    padding: 0;
    background-color: aliceblue;
    position: static;
}


.caixa{
    background-color: brown;
    color:orange;
    left: 50%;
    width: 100%;
    height: 50px;
   
}
.interna{
  
    background-color: blue;
}