
/* Variaveis */
:root {
  --font-main: "Segoe UI", sans-serif;
  --color-primary: red;
  --color-text: brown;
  --color-bg-page: rgb(219, 216, 216);
  --color-bg-box: rgb(205, 208, 211);
  --color-white: white;
  --color-gray: gray;
  /* ESTADOS E EXEMPLOS */
  --blue-bg: rgb(116, 232, 236);
  --blue-border: black;
  --green-bg: rgb(16, 175, 127);
  --green-border: rgb(92, 3, 133);
  --yellow-bg: rgb(238, 235, 58);
  --yellow-border: rgb(235, 156, 9);

  /* Comparação */

  --comparacao-block-bg: lightblue;
  --comparacao-incline-bg: lightgreen;
  --comparacao-incline-blcok-bg: rgb(241, 167, 238);
  --observacao-bg: rgb(24, 57, 65);

  /* Medidas */

  --radius: 10px;
  --gap: 10px;
}

body {
  font-family: var(--font-main);
  background-color: var(--color-bg-page);
  color: var(--color-text);
  margin: 20px;
}

h1,
h2 {
  color: var(--color-primary);
  text-align: center;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}
h3 {
  margin-top: 25px;
}
p {
  line-height: 1.7;
}

.bloco {
  background-color: var(--color-bg-box);
  border: 0.5px solid var(--color-gray);
  border-radius: var(--radius);
  margin-bottom: 25px;
  padding: 20px;
}

/* Comparação */

.comparacao {
  border: 2px dashed var(--color-gray);
  padding: 15px;
  margin-bottom: 20px;
}

/* Observação */

.observacao{
    color: var(--observacao-bg);
    border-left: 5px solid var(--color-primary);
    
    padding: 12px;
}

/* Display Block */

.exemplo-block div{

    display:block;
    background-color: var(--blue-bg);
    border: 2px solid var(--blue-border);
    padding: 15px;
    margin-bottom: 5px;
    width: 50%;
}


.comparacao.block div{
    display: block;
    background-color: var(--comparacao-block-bg);
    padding: 15px;
    margin-bottom:5px ;
}

/* DISPLAY INLINE */
.exemplo-inline span{
    display: inline;
    background-color: var(--green-bg);
    border: 0.5px solid var(--green-border);
    padding: 1px;
    margin-left: 30px;
    /* margin top e bottom e o width não funciona pela propriedade do inline */
}
.comparacao.inline span{
    display: inline;
    background-color: var(--comparacao-incline-bg);
    padding: 10px;
}

/* DISPLAY INLINE-BLOCK */
.exemplo-inline-block div{
    display: inline-block;
    background-color: var(--yellow-bg);
    border: 2px solid var(--yellow-border);
    padding: 15px;
    margin: 30px;
    width: 150px;
    height: 150px;
    /* alinhamento do texto */
    text-align: center;
    line-height: 150px;

}

.comparacao.inline-block div{
    display: inline-block;
    width: 100px;
    height: 60px;
    background-color: var(--comparacao-incline-blcok-bg);
    padding: 25px;
    margin: 20px;
    text-align: center;
    line-height: 60px;
}

.none-exemplo {
    gap: var(--gap);
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 25px;
    text-align: center;
}

.none-exemplo div {
    flex: 1;
    gap: var(--gap);
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 25px;
    text-align: center;
}

.none-exemplo .elemento-oculto{
    display: none;
}

/* Display flex */

.exemplo-flex{
 
  display: flex;
  background-color: blanchedalmond;
  gap: var(--gap);
  
}

.exemplo-flex div{
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: 25px;
  flex:1;
  flex-grow: 1;
  flex-shrink: 1;
  text-align: center;
  margin: 5px;
}

/* Flex direction */

.flex-direction-row{
  display: flex;
  flex-direction: row;
  gap: var(--gap);
  background-color: beige;
}

.flex-direction-row div,
  .flex-direction-column div{
    background-color: var(--color-primary);
    color: var(--color-white);
    padding: 15px;
    text-align: center;
  }

  .flex-direction-column{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
    gap: var(--gap);
    padding: 15px;
  
  }

/* Justify content */
/* Caixas internas ou filhos */
.justify-start div, .justify-center div, .justify-between div {
  background-color: var(--color-primary);
  padding: 15px 25px;
  color: var(--color-white);
}

/* Os pais */
.justify-start, .justify-center, .justify-between {
  display: flex;
  background-color: var(--color-bg-box);
  padding: 15px;
  margin-bottom: 15px;
}

/* Alinhamento ao começo */
.justify-start {
  justify-content: start;
}

/* Alinhamento ao centro */
.justify-center {
  justify-content: center;
}

/* Espaçamento entre os elementos */
.justify-between {
  /* Entre */
  justify-content: space-between; 
  /* em volta */
  justify-content: space-around;
}

/* Aling-itens */
.align-center{
  display: flex;
height: 180px;
  background-color: rgb(5, 100, 100);
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.align-center div{
  background-color: green;
  color: var(--color-white);
  padding: 15px;
 
}
.align-center .grande{
  height: 100px;
  display: flex;
  align-items: center;
}

/* GAP */
.gap-exemplo{
  display: flex;
  gap: 30px;
  background-color: pink;
  padding: 20px;
  
}

.gap-exemplo div{
  width: 70px;
  height: 70px;
  background-color: red;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}